/*
			  	Agnieszka Krol
				  Photography
					 2016
++++++++++++++++++++++++++++++++++++++++++++++++
======= Webdesing by www.istvanlovas.com =======
++++++++++++++++++++++++++++++++++++++++++++++++
			  Client gallery SCSS
*/
/* =======================================
   General Styles
   =======================================*/
.color-gray {
  color: #5f6468; }

.color-blue {
  color: #30a5ff; }

.color-teal {
  color: #1ebfae; }

.color-orange {
  color: #ffb53e; }

.color-red {
  color: #f9243f; }

html, body {
  width: 100%;
  height: 100%; }

.page-load-bg {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffdedc;
  z-index: -1; }

body {
  font-size: 16px;
  font-family: 'AdobeCaslonW01-Regular';
  color: rgba(0, 0, 0, 0.7);
  background: #fbfbfb; }

p {
  text-rendering: optimizeLegibility;
  margin-bottom: 10px; }

a {
  transition: all 0.270s ease-out 0s; }

a:hover, a:focus {
  text-decoration: none; }

.btn, button {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

a.btn:hover,
button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.activeNav:after {
  background-color: #fff;
  width: 100% !important;
  height: 2px; }

ul, li, ol {
  list-style: none;
  list-style-image: none;
  padding: 0; }

.content {
  height: 100%;
  position: relative; }

.content,
.top-navbar,
#sidebar,
.page {
  opacity: 0; }

/**
 * Fix for vw, vh, vmin, vmax on iOS 7.
 * http://caniuse.com/#feat=viewport-units
 *
 * This fix works by replacing viewport units with px values on known screen sizes.
 *
 * iPhone 6 and 6 Plus cannot run iOS 7, so are not targeted by this fix.
 * Target devices running iOS 8+ will incidentally execute the media query,
 * but this will still produce the expected result; so this is not a problem.
 *
 * As an example, replace:
 *
 *   height: 50vh;
 *   font-size: 5vmin;
 *
 * with:
 *
 *   @include viewport-unit(height, 50vh);
 *   @include viewport-unit(font-size, 5vmin);
 */
/* =======================================
   Gallery Header
   =======================================*/
#gallery-header .container-fluid {
  padding-right: 15px;
  padding-left: 15px; }

#gallery-header .glyph {
  width: 16px;
  height: 16px; }

/* =======================================
   Gallery
   =======================================*/
#client-gallery .banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    #client-gallery .banner {
      height: 1024px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    #client-gallery .banner {
      height: 768px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    #client-gallery .banner {
      height: 480px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    #client-gallery .banner {
      height: 320px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    #client-gallery .banner {
      height: 568px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    #client-gallery .banner {
      height: 320px; } }

#client-gallery .title {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; }
  #client-gallery .title h1 {
    margin: 0;
    font-family: 'Sheila W00 Bd';
    font-size: 72px;
    letter-spacing: 5px; }
  #client-gallery .title a {
    position: relative;
    padding: 18px 65px;
    border: 2px solid #ffcbe2; }

#client-gallery .photo-request-form .photos .item {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px; }
  #client-gallery .photo-request-form .photos .item label {
    cursor: pointer;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.12);
    transition: all 0.270s ease-in-out 0s; }
    #client-gallery .photo-request-form .photos .item label .glyph {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20%;
      height: 20%;
      transform: translate(-50%, -50%);
      color: #1ebfae;
      opacity: 0;
      stroke-width: 1%;
      transition: all 0.270s ease-in-out 0s; }
    #client-gallery .photo-request-form .photos .item label .selected-icon {
      opacity: 1 !important;
      width: 40%;
      height: 40%;
      z-index: 4 !important; }
    #client-gallery .photo-request-form .photos .item label:hover, #client-gallery .photo-request-form .photos .item label:focus {
      box-shadow: 0 8px 14px rgba(0, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.11); }
  #client-gallery .photo-request-form .photos .item input[type=checkbox] {
    margin: 0;
    opacity: 0;
    position: absolute; }
  #client-gallery .photo-request-form .photos .item img {
    opacity: 1;
    border-radius: 10px;
    transition: all 0.270s ease-in-out 0s; }
  #client-gallery .photo-request-form .photos .item .selected-img {
    opacity: .95;
    z-index: 3;
    border: 1px solid #1ebfae; }

#client-gallery .photo-request-form input[type="submit"] {
  position: fixed;
  top: 60px;
  right: 60px;
  z-index: 10000; }

/*# sourceMappingURL=app.css.map */
