/* =======================================
   Gallery Header
   =======================================*/

#gallery-header {
	#sidebar {
		position: fixed;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    z-index: 99;
	    background-color: $primaryDark;
	    width: 8px;
	    transition: width .54s cubic-bezier(.9,0,.33,1) .2s,
    				opacity .45s linear .2s,
    				background-color .45s ease-in-out;
    	nav {
    		ul {
    			padding-top:$paddingSmall + 128px;
    			margin:0;
		    	position: relative;
    			li {
    				a {
    					font-family:'Proxima N W15 Smbd';
				    	color:#fff;
				    	padding:6px 0 0;
				    	margin-left:$paddingSmall;
				    	font-size: 18px;
				    	&:hover, &:focus {
					    	color:#fff;
					    }
    				}
    			}
    		}
    	}
	}
}


@media screen and (min-width: 1024px) {
	#admin-header {
		#sidebar {
			width:240px;
		}
	}
}