/* =======================================
   Footer
   =======================================*/
footer {
	position: absolute;
	width:100%;
	right:15px;
	bottom:15px;
	text-align: right;
	p {
		font-family:'LinotypeBreweryW01-Regu';
		margin:0;
		font-size:11px;
	}
}