/* =======================================
   Footer
   =======================================*/
footer {
	font-size:13px;
	font-family:'LinotypeBreweryW01-Regu';
	position: fixed;
	bottom:15px;
	left:$paddingSmall;
	margin:0;
	z-index:200;
}