/* =======================================
   General Styles
   =======================================*/

// font-family:'Praxis W01 Bold';
// font-family:'Praxis W01 Heavy';
// font-family:'Shannon W04 Extra Bold';
// font-family:'Shannon W04 Bold';

$primary: #ff4081;
$primaryLight: #ff80ab;
$primaryDark: #f50057;

$accentDark: #EA1D63;
$accentLight: #ff80ab;

$fontsize: 16px;
$textcolor: rgba(0,0,0,.87);

$background: #fbfbfb;

$paddingSmall: 40px;
$paddingLarge: 60px;
$sidebarSmall: 8px;
$sidebarLarge: 90px;

html,body {
  width:100%;
  height:100%;
}

body {
  font-size:$fontsize;
  color:$textcolor;
  line-height:1.6;
  background: $background;
}

p { text-rendering: optimizeLegibility; }
a { transition: all 0.270s ease-out 0s; }
a:hover,a:focus { text-decoration:none; }

ul,li,ol {
  list-style: none;
  list-style-image: none;
  padding:0;
}

.content {
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .container-fluid {
    padding-left:105px;
  }
}