/* =======================================
   General Styles
   =======================================*/

// font-family:'Sheila W00';
// font-family:'LinotypeBreweryW01-Ligh';
// font-family:'LinotypeBreweryW01-Regu';
// font-family:'LinotypeBreweryW01-Medi';
// font-family:'LinotypeBreweryW01-Bold';

$secondaryText: #f2c7cc;
$accentLight:#e48993;
$accentDark: rgb(245, 0, 87);

$fontsize: 16px;
$textcolor: rgba(0,0,0,.87);

$background: #fbfbfb;

$paddingSmall: 40px;
$paddingLarge: 60px;
$sidebarSmall: 8px;
$sidebarLarge: 90px;

$borderRadius:20px;

html,body {
  width:100%;
  height:100%;
}

body {
  font-size:$fontsize;
  font-family:'LinotypeBreweryW01-Ligh';
  color:$textcolor;
  line-height:1.6;
  background: $background;
}

p { text-rendering: optimizeLegibility; }
a { transition: all 0.270s ease-out 0s; }
a:hover,a:focus { text-decoration:none; }

ul,li,ol {
  list-style: none;
  list-style-image: none;
  padding:0;
}

.content {
  height: 100%;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .container-fluid {
    padding-left:105px;
  }
}