/* =======================================
   Header
   =======================================*/

header {
	width:100%;
	position: fixed;
	top:0;
	left:0;
	right:0;
    z-index: 100;
	nav {
	    position: relative;
	    .logo {
	    	display:none;
	    	position: absolute;
	    	top:$paddingSmall;
	    	left:$paddingSmall;
	    }
    	#main-navigation {
    		max-width: 480px;
		    position: absolute;
		    top:$paddingSmall;
	    	right:$paddingSmall;
	    	margin:0;
	    	text-align: right;
		    li {
		    	font-family:'LinotypeBreweryW01-Regu';
			    display: inline-block;
			    margin-left:15px;
			    a:not(.btn-client-login) {
			    	@include border-bottom-transition(#fff, $accentLight, 2px);
			    	display: block;
			    	color:#fff;
				    font-size: 21px;
				    text-rendering: geometricPrecision;
				    font-variant-ligatures: no-common-ligatures;
				    text-decoration: none;
				    transform: translateY(0px);
				    &:hover, &:focus {
				    	color:$accentLight;
				    }
				}
				.btn-client-login {
					padding: 8px 26px;
				    color: #fff;
				    font-size: 18px;
				    border-radius: 20px;
					background-color:$accentDark;
					&:hover, &:focus {
				    	opacity:0.7;
				    }
				}
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	header {
		nav {
			.logo {
		    	top:$paddingSmall;
		    	left:$paddingLarge;
		    }
			#main-navigation {
	    		right:$paddingLarge;
			}
		}
	}
}