.toggle {
	pointer-events: all;
    position: fixed;
    padding:$paddingSmall;
    top:0;
    left:0;
    cursor: pointer;
    z-index: 101;
}
.toggle > div {
    height: 20px;
    width: 30px;
}
.toggle > div > div {
    width: 100%;
    height: 2px;
    margin: 0 0 .35em 0;
    background-color: #000;
    transition-duration: .27s;
    transition-delay: 0s, 0s, 0s, 0s;
}
.toggle > div > div:last-child {
    margin:0;
}


    .toggle > div > div:nth-child(3) {
        width: 50%;
        float: left;
    }
    .toggle:hover > div > div:nth-child(3) {
        width: 100%;
    }
    .toggle.open > div > div:nth-child(1) {
        transform: translateY(9px) rotate(45deg) !important;
    }
    .toggle.open > div > div:nth-child(2) {
        opacity: 0 !important;
    }
    .toggle.open > div > div:nth-child(3) {
        width: 100%;
        transform: translateY(-6px) rotate(-45deg) !important;
    }