.register-new-client, .add-photosession {
	.panel {
		border-radius:$borderRadius / 2;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		.panel-heading {
			text-align:center;
		    border-top-left-radius: $borderRadius / 2;
			border-top-right-radius: $borderRadius / 2;
		}
	}
	.btn {
	    font-variant-ligatures: no-common-ligatures;
		box-shadow:none;
		padding-top: 6px;
		padding-bottom: 2px;
		line-height:2;
		font-size:16px;
		transition: all 0.270s ease-out 0s;
		&:hover, &:focus {
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	    }
	    .glyph {
			width: 17px;
		    height: 17px;
		    stroke-width: 3px;
		    position: relative;
		    top: -2px;
		    margin-right: 3px;
		}
	}
}
.form-error-msg {
	.alert {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
}