.toggle {
	pointer-events: all;
    position: fixed;
    padding:54px 40px;
    top:0;
    left:0;
    cursor: pointer;
    z-index: 150;
}
.toggle > div {
    height: 20px;
    width: 30px;
}
.toggle > div > div {
    width: 100%;
    height: 2px;
    margin: 0 0 .35em 0;
    background-color: #ff7c76;
    transition-duration: .54s;
    transition-delay: 0.27s;
}
.toggle > div > div:last-child {
    margin:0;
}
.toggle > div > div:nth-child(3) {
    float: left;
}
.toggle:hover > div > div:nth-child(3) {
    width: 50%;
}
.toggle.open > div > div {
    background-color: #ffdedc;
}
.toggle.open > div > div:nth-child(1) {
    transform: translateY(9px) rotate(45deg) !important;
}
.toggle.open > div > div:nth-child(2) {
    opacity: 0 !important;
}
.toggle.open > div > div:nth-child(3) {
    width: 100%;
    transform: translateY(-6px) rotate(-45deg) !important;
}

@media screen and (min-width: 1024px) {
    .toggle {
        display:none;
    }
}