/* =======================================
   Login
   =======================================*/

#login {
	position: relative;
	background-image: url('/images/bg-lg.jpg');
	background-repeat:no-repeat;
	background-position: 100%;
	background-size: cover;
	@include viewport-unit(height, 100vh);
	.login-wrapper {
		width:320px;
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		.login-heading {
			font-size:48px;
	    	font-family:'Sheila W00';
	    	letter-spacing: 0.07em;
	    	color:#fff;
			text-align:center;
		}
		.login-panel {
			margin:$paddingSmall 0 25px; // -15px at the bottom due to .form-group margin
			background-color: rgba(255,255,255,.92);
			padding:$paddingSmall;
			border-radius:$borderRadius;
			.form-error-msg {
				.alert {
					padding:10px 15px;
				}
			}
		}
		.form-group {
			a {
				font-size:13px;
				float:right;
			}
			label {
				display:block;
				margin-bottom:5px;
				padding:0;
				text-align:center;
			}
			.checkbox {
				label {
					text-align:left;
					font-size:15px;
				}
				input {
					position: relative;
					top: -1px;
					margin-left:0;
					margin-right:2px;
				}
			}
			.btn-primary {
				display:block;
				width:100%;
				background-color:$accentDark;
				border:1px solid $accentDark;
				transition: all 0.270s ease-out 0s;
					&:hover, &:focus {
				    	background-color:$accent;
				    	border:1px solid $accent;

				    }
			}
		}
	}
}