/* =======================================
   Contact
   =======================================*/

#contact {
	position: relative;
	background-color:#f2f2f2;
	color:#454545;
	.contact-details{
		padding:$paddingLarge * 1.5 15px;
	    max-width: 1200px;
    	margin: 0 auto;
    	text-align: center;
		.contact-links {
			a {
				color:$primaryDark;
				&:hover, &:focus {
			    	color:$primary;
				}
				i {
					color:#454545;
					margin-right:5px;
				}
			}
		}
		h3 {
			margin:0;
			margin-bottom:10px;
			font-family:'LinotypeBreweryW01-Medi';
		}
	}
	.get-social ul li {
		display: inline-block;
		margin-right:5px;
		cursor:pointer;
		transition: all 0.270s ease-out 0s;
		.svg-icon path {
			fill:$primaryDark;
		}
		&:hover, &:focus {
	    	.svg-icon path {
	        	fill:$primary;
	      	}
	    }
	}
	.footer {
		font-size:13px;
		p {
			opacity:0.54;
			text-align:center;
			margin-bottom:5px;
		}
	}
}
.contact-details > div {
	margin-bottom:$paddingSmall;
}
.contact-details > div:last-child {
	margin-bottom:0;
}

@media screen and (min-width: 992px) {
	#contact {
		.contact-details {
			h3 {
				margin-bottom:20px;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	#contact {
		@include viewport-unit(height, 100vh);
		.contact-details {
			text-align: left;
			.contact-links h3,
			.get-social h3 {
				margin-bottom:40px;
			}
			.address {
				i {
					display:inline-block;
					position: relative;
					float:left;
				}
				p {
					width:90%;
					position: relative;
					padding-left:5px;
					float:left;
				}
			}
		}
	}
}