/* =======================================
   Header
   =======================================*/
.top-navbar {
	position: fixed;
	top:0;
	left:0;
	right:0;
	backface-visibility: hidden;
	text-align: center;
	z-index:100;
	.logo {
		position: relative;
		display:inline-block;
		font-size: 22px;
		font-family:'LinotypeBreweryW01-Medi';
		line-height: 1;
		color: $textColor;
		padding:$paddingSmall;
		text-align: center;
		z-index:150;
	    span {
	    	font-size:20px;
	    	font-family:'Sheila W00';
	    	letter-spacing: 0.07em;
	    	color:$primaryLight;
	    	position: relative;
	    }
	}
	.client-login-button {
		display:none;
	}
}

header {
	position: absolute;
	padding:$paddingSmall 0 0 $paddingSmall;
	user-select: none;
    z-index: 99;
    #sidebar {
		pointer-events: all;
	    position: fixed;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    z-index: 99;
	    background-color: $primaryDark;
	    width: 8px;
	    box-shadow: none;
	    transition: width .54s cubic-bezier(.9,0,.33,1) .2s,
    				opacity .45s linear .2s,
    				background-color .45s ease-in-out,
    				box-shadow .27s ease-in-out .2s;
		#top-navigation {
			position: absolute;
	    	height: 100%;
	    	width: 100%;
			pointer-events: none;
	    	z-index: 100;
	    	ul {
				li {
					a {
						display: inline-block;
				    	backface-visibility: hidden;
				    	text-decoration: none;
				    	text-rendering: geometricPrecision;
				    	font-variant-ligatures: no-common-ligatures;
					    will-change: transform;
					    transform:translateX(-460px);
					    z-index: 2;
					}
				}
	    	}
	    	ul.portfolio-tabs {
	    		font-size:$fontsize - 2px;
	    		margin: 6px 0;
	    		li {
				    a {
				    	font-family:'Proxima Nova Soft W04 Regular';
				    	color:#fff;
				    	opacity:.84;
				    	padding:1px 0;
				    	margin-left:$paddingLarge;
				    	margin-bottom:4px;
				    	font-size:$fontsize - 1px;
				    	@include border-bottom-transition(#fff, #fff, 1px);
				    	&:hover, &:focus {
					    	color:#fff;
					    }
				    }
	    		}
	    		li.active a {
	    			opacity:1;
		    		&:after {
					    background-color: #fff;
					    width:100% !important;
					    height:2px;
					}
	    		}
	    	}
	    	ul.main-navigation {
	    		padding-top:$paddingSmall + 128px;
		    	margin:0;
		    	position: relative;
			    li {
			    	display: list-item;
				    .top-nav-link {
				    	font-family:'Proxima N W15 Smbd';
				    	color:#fff;
				    	padding:6px 0 0;
				    	margin-left:$paddingSmall;
				    	font-size: 18px;
				    	@include border-bottom-transition(#fff, #fff, 2px);
				    	&:hover, &:focus {
					    	color:#fff;
					    }
					}
				}
			}
			footer {
				display:none;
			}
		}
	}
	.overlay {
		background-color: #000;
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: 99;
	    opacity: 0;
	    transition: opacity .5s ease-in-out .2s;
	    pointer-events: none;
	}
}

header.open {
    pointer-events: auto;
	.overlay {
		pointer-events: all;
	    opacity: .5;
	    transition: opacity .5s ease-in-out 0ms;
	}
	#sidebar {
		background-color: $primary;
		@include viewport-unit(width, 50vw);
		box-shadow: 3px 0 2px rgba(0, 0, 0, 0.2);
	    transition: width .54s cubic-bezier(.6,.035,.25,1) 0s,
	    			opacity .64s linear .8s,
	    			background-color .54s ease-in-out,
	    			box-shadow .27s ease-out;
	    #top-navigation {
		    pointer-events: auto;
		}
	}
}
.white-logo {
	color:#fff !important;
}

@media screen and (min-width: 1024px) {
	.noBackGroundColor {
		background:0 !important;
		box-shadow:none !important;
	}
	.top-navbar {
		text-align:left;
		.logo {
			text-align:inherit;
		}
		.client-login-button {
			display:inline-block;
			position: absolute;
		    top: $paddingSmall + 10px;
		    right: $paddingSmall;
			font-size:$fontsize;
			font-family:'Proxima N W15 Smbd';
			padding: 7px 22px;
		    color: #fff;
		    border-radius: $borderRadius;
			background-color:$accentDark;
			text-decoration: none;
			text-rendering: geometricPrecision;
		    font-variant-ligatures: no-common-ligatures;
			transition: all 0.27s ease-out 0s;
		}
	}
	header {
		#sidebar {
			width:240px;
			box-shadow: 3px 0 2px rgba(0, 0, 0, 0.2);
			#top-navigation {
				position: absolute;
		    	height: 100%;
		    	width: 100%;
				pointer-events: all;
				ul.portfolio-tabs {
		    		li {
					    a {
						    transform:translateX(0px);
					    }
		    		}
		    	}
		    	ul.main-navigation {
		    		li.home, a.login {
		    			display:none !important;
		    		}
		    		li .top-nav-link {
					    transform:translateX(0px);
					}
				}
				footer {
					display:block;
					width:240px;
					margin:0;
				    text-align:center;
				    position: absolute;
				    bottom:$paddingLarge;
				    z-index: 999;
				    .social-icons {
				    	margin:0;
				    	li {
				    		display:inline-block;
						    margin-right:5px;
						    cursor:pointer;
						    transition: all 0.270s ease-out 0s;
						    &:hover, &:focus {
						        .svg-icon path {
						          fill:$primaryLight;
						        }
						    }
				    	}
				    }
				    span {
				    	padding-top:15px;
						font-size:10px;
				    }
				    p {
				    	font-size:11px;
				    	margin:5px 0 0;
				    }
				}
			}
		}
	}
}