/* =======================================
   Portfolio
   =======================================*/
#portfolio {
	// background-color: #fff;
	// background-image: url('/images/bg-white-lg.jpg');
	// background-repeat:no-repeat;
	// background-position: 100%;
	// background-attachment:fixed;
	// background-size: contain;
	.tab-content {
		margin-top: $paddingLarge;
	}
	.masonry-container {
		.item {
			padding-right: 10px;
			padding-left: 10px;
			margin-bottom: 20px;
			img {
				border-radius: $borderRadius;
			}
		}
	}
	.photo-upload {
		padding:$paddingLarge 0;
		.refresh-page {
			display:block;
			width:100%;
			font-size:18px;
			padding:15px 0;
			margin-top:30px;
		}
	}
}

.delete-photo {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	.btn-danger {
		border-radius:50%;
		opacity: .2;
		transition: all 0.27s ease-out 0s;
		.fa {
			padding: 7px;
	    	font-size: 25px;
		}
		&:hover,&:focus {
			opacity: 1;
		}
	}
}