/* =======================================
   Services
   =======================================*/

.family .banner .bg-img {
	background-image: url('/images/services_page_photos/banner-family.jpg');
}

.newborn .banner .bg-img {
	background-image: url('/images/services_page_photos/banner-newborn.jpg');
}

.maternity .banner .bg-img {
	background-image: url('/images/services_page_photos/banner-maternity.jpg');
}

.artistic .banner .bg-img {
	background-image: url('/images/services_page_photos/banner-artistic.jpg');
}

#services {
	.services-by-catgory {
		margin-top:$paddingLarge;
		.wrapper {
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
			border-radius: $borderRadius;
		}
		.service {
			margin-bottom:30px;
			.prices {
				font-sizes:16px;
				padding:$paddingSmall 0 $paddingSmall - 10px;
				text-align:center;
				font-family:'LinotypeBreweryW01-Medi';
			}
			.banner {
				position: relative;
				overflow:hidden;
				border-radius: $borderRadius $borderRadius 0 0;
				height:210px;
				.bg-img {
					width:100%;
					height:100%;
					background-repeat:no-repeat;
					background-position: center;
					background-size:cover;
				}
			}
			h3 {
				text-align:center;
				padding: 10px 0 4px;
				background-color:$primaryDark;
				color:$textColor;
				margin:0;
			}
			.content {
				background-color: $textColor;
				border-radius:0 0 $borderRadius $borderRadius;
				.prices {
					p {
						margin-bottom:5px;
					}
				}
				.whats-included {
					margin:0 0 15px;
					padding: 0 15px 10px;
					text-align:center;
					li {
						font-size:13px;
						line-height: 1.3;
						padding:3px 0;
						margin:2px 0;
						border-bottom: 1px solid darken(#fff, 5%);
					}
					li:last-child {
						border:0;
					}
				}
				.footer {
					font-size:13px;
					padding:15px 20px;
					background-color:$primary;
					border-radius:0 0 $borderRadius $borderRadius;
					.whats-not-included {
						color:$textColor;
						margin:0;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	#services {
		.services-by-catgory {
			.service {
				padding-right:10px;
				padding-left:10px;
				.banner {
					height:245px;
				}
			}
		}
	}
}

